extends layout
block header
    .container
      .row
        h1.text-center.text-uppercase.text-logo Na Lama
    .vertical-center
      .container
        .row
          .col-xs-8.col-xs-offset-2.centered
          .input-group
              .input-group-btn.search-panel
                select.selectpicker
                  option 2010
                  option 2012
                  option 2014
                select#cargo.selectpicker
                  option Governador
                  option Presidente
              .input-group-btn.search-panel
                select#uf.selectpicker
                  option Pernambuco
                  option Sao Paulo
                  option Rio de Janeiro
                  option Alagoas
                  option Paraiba  
                  option(data-divider="true")
                  option Todos  
                  option Brasil
              input.form-control(type='text ', name='x ', placeholder='Procure o candidato... ')
              span.input-group-btn
                button.btn.btn-default(type='button ')
                  i.fa.fa-search
