extends layout
block header
    .container
      .row
        img#logo.img-responsive(src='images/logo_Na_Lama_Branco.png', alt='Cinque Terre')
    .vertical-center
      section.busca
      .container
        .row
          .col-xs-8.col-xs-offset-2.centered
          .input-group
              .input-group-btn.search-panel
                select#ano.selectpicker
                  option 2014
                  option 2012
                  option 2010
                select#cargo.selectpicker
                  option Governador
                  option Presidente
              .input-group-btn.search-panel
                select#uf.selectpicker
                  option Pernambuco
                  option Sao Paulo
                  option Rio de Janeiro
                  option Alagoas
                  option Paraiba  
                  option(data-divider="true")
                  option Todos  
                  option Brasil
              input.form-control(type='text ', name='x ', placeholder='Procure o candidato... ')
              span.input-group-btn
                button#bottom.btn.btn-default(type='button ')
                  i.fa.fa-search
    section.exibir
            .container
                .row
                .panel.panel-default
                    .panel-heading#cargo_atual.text-center 
                    .panel-body 
                    .row
                        .col-md-6 
                            h1#apelido
                            p#nome
                            p#partido
                            p#miniBio
                        .col-md-6 
                            ul#doacoes
                                li#doac1
                                li#doac2
                                li#doac3
                                li#doac4
                                li#doac5
                                
                    .row
                        .col-md-6 
                        .col-md-6 
                    .row
                        .col-md-6 
                        .col-md-6 


